<!DOCTYPE html>
<html>
  <head>
    <title>SFTweets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&libraries=places"></script>
    <script src="https://use.fontawesome.com/f8a7801cea.js"></script>
    <script type=" text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
  </head>


  <body>
    <%= yield %>
  </body>
</html>
